
body{
    margin: 50px;
    margin-bottom: 20px;
    margin-top: 0;
    
    }
     
    li {
        text-decoration: underline;
        color: blue;
      }   

.flex-container {
    display: flex;
    background-color: fuchsia;
    justify-content: space-between;
    box-sizing: border-box;
    
}

.container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    overflow: hidden;
    position: relative;
}

.content {
    grid-column: 1 / 2;
}

.topics {
    grid-column: 2 / 3;
    height: auto;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: fuchsia;
    margin-bottom: 0;
    height: calc(100% - 40px);
    position: relative;
    z-index: 1;
}

.topics {
    margin-bottom: 10px;
}

h1, h2 {
    text-align: center;
    font-family: Lucida Sans;
}

.go-button {
    background-color: black;
    color: white;
    width: 60px;
}

.line {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid black;
    margin: 0 auto;
    width: 100%;

    }
footer {
    text-align: left;
    margin-top: 20px;
    font-size: 16px;
    color:black;
  }

  
  .header {
    background-color: gray;
    margin-bottom: 0;
    
  }
  
  .header h2 {    /* for the header*/
    margin: 0;
    padding: 20px;
    color: white;
    
  }
  
  .gray-area {  
    background-color:gray; 
    height: 100%;
    margin-bottom: 0;
  }
  
 
  

  body::before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    background-color: gray;
    z-index: -1;
  }

  body::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    background-color: gray;
    z-index: -1;
  }

  footer {
    /* your existing footer styles here */
    position: relative; /* make the footer a reference point for the gray area */
  }
  
  footer::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% - 1px); /* Set the top position to just below the footer */
    height: 1000vh; /* Set the height to a large enough value to cover the entire content */
    background-color: gray;
     }

